body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(108, 106, 106);
}

.container {
  text-align: center;
  background-color: rgb(95, 95, 99);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba black;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 50%;
  margin-top: 10px;
}
button {
  padding: 10px 20 px;
  font-size: 16px;
  margin-top: 10px;
  background-color: rgb(150, 102, 73);
  color: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(65, 106, 60);
}

#dica {
  margin-top: 10px;
  font-size: 18px;
}

#tentativas {
  font-size: bold;
  margin-top: 15px;
}
